build/*
firmware/build/
firmware/include/selector.h
firmware/include/c64_selector.h
firmware/include/c64_intro.h
firmware-1551-III-pico/build/
firmware-1551-III-pico/include/selector.h
firmware-1551-III-pico/include/c64_selector.h
firmware-1551-III-pico/include/c64_intro.h
firmware-1551-III-pico/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico/
firmware-1551-III-pico/buildtools/bitfire/
analysis-reports/*
build-analysis/*
.DS_Store
*.lck
hardware-1551-III-Pico/*-backups/
hardware1551/*-backups/
hardware1551/production/backups/
# ISE/CPLD build junk (hdl/ and hdl-1551-III/)
hdl*/_ngo/
hdl*/_xmsgs/
hdl*/iseconfig/
hdl*/*.err
hdl*/*.xml
hdl*/xlnx_auto_0_xdb/
hdl*/xst/
hdl*/Fake6523.bld
hdl*/Fake6523.cmd_log
hdl*/Fake6523.gyd
hdl*/Fake6523.lfp
hdl*/Fake6523.lso
hdl*/Fake6523.mfd
hdl*/Fake6523.ngc
hdl*/Fake6523.ngd
hdl*/Fake6523.ngr
hdl*/Fake6523.nga
hdl*/Fake6523.pad
hdl*/Fake6523.pnx
hdl*/Fake6523.prj
hdl*/Fake6523.rpt
hdl*/Fake6523.stx
hdl*/Fake6523.syr
hdl*/Fake6523.tim
hdl*/Fake6523.tspec
hdl*/Fake6523.vm6
hdl*/Fake6523.xst
hdl*/Fake6523_*
**/fp-info-cache
