build/*
experimental/firmware/build/
experimental/firmware/include/selector.h
experimental/firmware/include/c64_selector.h
experimental/firmware/include/c64_intro.h
firmware-1551-III-pico/build/
firmware-1551-III-pico/include/selector.h
firmware-1551-III-pico/include/c64_selector.h
firmware-1551-III-pico/include/c64_intro.h
firmware-1551-III-pico/no-OS-FatFS-SD-SDIO-SPI-RPi-Pico/
firmware-1551-III-pico/buildtools/bitfire/
analysis-reports/*
build-analysis/*
.DS_Store
*.lck
hardware-1551-III-Pico/*-backups/
experimental/hardware1551/*-backups/
experimental/hardware1551/production/backups/
# ISE/CPLD build junk (hdl-1551-III/ and experimental/hdl/)
hdl*/_ngo/
hdl*/_xmsgs/
hdl*/iseconfig/
hdl*/*.err
hdl*/*.xml
hdl*/xlnx_auto_0_xdb/
hdl*/xst/
hdl*/Fake6523.bld
hdl*/Fake6523.cmd_log
hdl*/Fake6523.gyd
hdl*/Fake6523.lfp
hdl*/Fake6523.lso
hdl*/Fake6523.mfd
hdl*/Fake6523.ngc
hdl*/Fake6523.ngd
hdl*/Fake6523.ngr
hdl*/Fake6523.nga
hdl*/Fake6523.pad
hdl*/Fake6523.pnx
hdl*/Fake6523.prj
hdl*/Fake6523.rpt
hdl*/Fake6523.stx
hdl*/Fake6523.syr
hdl*/Fake6523.tim
hdl*/Fake6523.tspec
hdl*/Fake6523.vm6
hdl*/Fake6523.xst
hdl*/Fake6523_*
experimental/hdl/_ngo/
experimental/hdl/_xmsgs/
experimental/hdl/iseconfig/
experimental/hdl/*.err
experimental/hdl/*.xml
experimental/hdl/xlnx_auto_0_xdb/
experimental/hdl/xst/
experimental/hdl/Fake6523.bld
experimental/hdl/Fake6523.cmd_log
experimental/hdl/Fake6523.gyd
experimental/hdl/Fake6523.lfp
experimental/hdl/Fake6523.lso
experimental/hdl/Fake6523.mfd
experimental/hdl/Fake6523.ngc
experimental/hdl/Fake6523.ngd
experimental/hdl/Fake6523.ngr
experimental/hdl/Fake6523.nga
experimental/hdl/Fake6523.pad
experimental/hdl/Fake6523.pnx
experimental/hdl/Fake6523.prj
experimental/hdl/Fake6523.rpt
experimental/hdl/Fake6523.stx
experimental/hdl/Fake6523.syr
experimental/hdl/Fake6523.tim
experimental/hdl/Fake6523.tspec
experimental/hdl/Fake6523.vm6
experimental/hdl/Fake6523.xst
experimental/hdl/Fake6523_*
**/fp-info-cache
